@model TravelAgency;
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="/Images/@Model.Image" alt="@Model.Name">
    </div>
    <div class="col-md-6">
        <h1>@Model.Name</h1>
        <dl class="row">
    
            <dt class="col-sm-3">Coordinates:</dt>
            <dd class="col-sm-9">X: @Model.X, Y: @Model.Y</dd>
            <dt class="col-sm-3">Website:</dt>
            <dd class="col-sm-9"><a href="@Model.Url">Website</a></dd>
            <dt class="col-sm-3">Rate:</dt>
            <dd class="col-sm-9">
                <div class="rating">
                    @for (int i = 0; i < Model.Rate; i++)
                    {
                        <span class="fa fa-star checked" style="color:gold"></span>
                    }
                    @for (int i = Model.Rate; i < 5; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                </div>
            </dd>
        </dl>
    </div>
</div>
